.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.white {
  color: white;
}

h1 {
  margin-bottom: 20px;
}

button {
  margin: 0 5px 5px 0;
}

.container {
  margin-top: 15px;
}

.row {
  margin-bottom: 15px;
}
